* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
  transition: all .5s;
}

p {
  font-family: 'Montserrat', sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  color: #bebebe;
  text-align: center;
  font-size: 16px;
  background: url('../images/legalor-bg2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide h1 {
  color: #fff;
  font-size: 48px;
}

.swiper-slide h2 {
  margin-top: 2rem;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.6em;
}

.swiper-slide h3 {
  color: #bebebe;
  font-size: 18px;
  line-height: 1.6em;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide .img-profile {
  width: 117px;
  height: 117px;
}

.swiper-pagination-bullet-active {
  background-color: #fff !important;
}



/* Top 最上層標題圖 */
#top {
  /* top 版面大小 */
  padding: 200px 0 80px 0;
  height: 600px;
  /* top 背景 */
  background-image: url('/images/top_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* 轉場效果 */
  transition:1s;
  /* text 排列 */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* #top 內容物 */
#top .content {
  transition: all .7s;
}

/* top 標題文字樣式 */
#top h1 {
  padding: 0 30px 0 0;
  color: #333;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.2em;
}

/* top 內容文字樣式 */
#top p {
  padding: 0 10px 0 10px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #6a7680;
  font-size: 14px;
  font-weight: 300;
  line-height: 2.2em;
  letter-spacing: -0.1px;
}

/* 假按鈕 */
.fake-btn {
  font-size: 18px;
  font-weight: 700;
  text-transform: none;
  text-decoration: none;
  line-height: 20px;
  color: #fff;
  /* fake-btn 外框樣式 */
  background: #686157;
  border-radius: 50px;
  border: none;
  padding: 17px 43px;
  /* fake-btn 轉場效果 */
  transition: .3s;
}

/* fake-btn hover 效果 */
.fake-btn:hover {
  background: #818a91;
}

/* info 資訊卡牌的假按鈕 */
.info-1 > .fake-btn, 
.info-2 > .fake-btn {
  border: 1px solid #fff;
  background: transparent;
}

.info-1 > .fake-btn:hover {
  border: none;
  background: #686157;
}

.info-2 > .fake-btn:hover  {
  border: none;
  background: #3c3c3c;
}

/* info 卡牌介紹 */
.info-1 i,
.info-1 h3,
.info-1 p {
  color: #fff;
}

.info-1 i {
  font-size: 60px;
}

.info-1 p, .info-2 p {
  text-align: center;
  font-size: 12px;
  padding: 0 12px;
  line-height: 2.2em;
  font-weight: 300;
}

/* info-2 卡牌介紹 */
.info-2 i,
.info-2 h3,
.info-2 p {
  color: #fff;
}

.info-2 i {
  font-size: 60px;
}

.info-1 h3, .info-2 h3{
  font-size: 24px;
}

@media (min-width: 768px) {
  .info-box {
    margin-top: -120px;
    /* padding: 30px 49px 30px 38px; */
    /* width: px; */
    height: 293px;
    /* border: 2px solid #aaa; */
    overflow: hidden;
    position: relative;
  }
  
  .info-out {
    width: 100%;
    height: 100%;
    background: #3c3c3c;
  }

  .info-out:hover {
    transform: translateY(-100%)
  }

  .info-1 {
    /* padding: 14px; */
    width: 100%;
    height: 100%;
    background: #3c3c3c;
    transition: all 1s;
  }

  .info-2 {
    /* padding: 14px; */
    width: 100%;
    height: 100%;
    background: #686157;
    transition: all 1s;
  }

    /* article-info 文案介紹內容 */
  .article-info-box:nth-child(5),
  .article-info-box:nth-child(6),
  .article-info-box:nth-child(7)
  {
    border-left: 1px solid #818a91;
  }
}

@media (max-width: 767px) {
  /* top 導覽圖 */
  #top h1 {
    font-size: 40px;
    padding: 0 20px 0 20px;
  }

  #top p {
    padding: 0 20px 0 20px;
  }

  .fake-btn {
    margin-left: 10px;
  }

  /* info 卡牌 */
  /* .row {
    padding: 30px;
  } */

  .row>.info-box {
    padding: 0;
  }

  .info-box {
    /* padding: 30px 49px 30px 38px; */
    width: 100%;
    height: 291px;
    /* border: 2px solid #aaa; */
    overflow: hidden;
    position: relative;
  }

  .info-out {
    width: 100%;
    height: 100%;
    background: #3c3c3c;
  }

  .info-out:hover {
    transform: translateY(-100%)
  }

  .info-1 {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    background: #3c3c3c;
    transition: all 1s;
  }

  .info-2 {
    margin-top: 1rem;
    width: 100%;
    height: 100%;
    background: #686157;
    transition: all 1s;
  }

  /* article 文案 */
  .row > #article {
    padding: 0;
  }
}

  /* article 文案 */
  .article-content > h2 {
    text-align: center;
    color: #333;
    word-wrap: break-word;
    font-size: 25px;
    line-height: 1.24em;
    padding-left: 12px;
  }

  .article-content > h2 > span {
    color: #686157;
    font-style: italic;
  }

  .article-content > p {
    color: #6a7680;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.2em;
    letter-spacing: -0.1px;
    text-align: center;
  }

  /* article-info 文案介紹內容 */
  #article-info-bg {
    background-image: url('/images/article_bg01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0 30px 0;
  }

  .article-info-box h2{
    font-size: 48px;
    text-align: center;
    color: #fff;
  }

  .article-info-box > p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: #bebebe;
    font-size: 18px;
    line-height: 1.7em;
    font-weight: 300;
  }

  #info-title {
    text-align: center;
    font-size: 25px;
    letter-spacing: -0.1px;
    line-height: 1;
  }

  #article-info-p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #b3bbc1;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.8em;
    letter-spacing: 2.3px;
  }

    /* main-info 主要資訊卡牌內容 */
    #main-info > h2 {
      text-align: center;
    }
  
    .main-info-box {
      width: 360px;
      height: 337px;
      border: 1px solid #e0e0e0;
    }
  
    .main-info-box:hover {
      box-shadow: 0 2px 13px 0 rgba(0,0,0,0.2);
    }

    .main-info-box > i {
      font-size: 60px;
      color: #686157;
    }

    .main-info-box > span {
      font-size: 24px;
      font-weight: bold;
      color: #333;
      line-height: 1.4em;
    }

    .main-info-box > p {
      text-align: center;
      color: #7a7a7a;
      font-size: 14px;
      font-weight: 300;
      line-height: 2.2em;
    }

    /* 輪播預定 */


    /* company brands 公司形象 */
    #company-brands {
      text-align: center;
    }

    .company-logos {
      padding: 32px 0;
      /* width: 252px; */
      height: 166px;
    }

    .company-logos:nth-child(1),
    .company-logos:nth-child(2),
    .company-logos:nth-child(3)
    {
      border-right: 1px solid #e7e7e7;
    }

    /* recent news 最新消息 */
    #news-bg {
      padding: 50px 5px 60px 5px;
      background-color: #303030;
      width: 100%;
    }

    .news-title {
      text-align: center;
      color: #fff;
      font-size: 48px;
    }

    .recent-news > a {
      text-decoration: none;
      color: #fff;
      font-size: 24px;
      font-weight: 700;
      line-height: 1.3em;
    }

    .recent-news > a:hover {
      color: #686157;
    }

    .plus {
      font-weight: 400;
      font-size: 32px;
      line-height: 1em;
    }

    .recent-news p {
      font-size: 14px;
      font-weight: 300;
      line-height: 2.2em;
      color: #bebebe;
    }

    /* footer 資訊攔 */
    .footer-content p {
      color: #bebebe;
      font-size: 14px;
      font-weight: 300;
      line-height: 2.1em;
      letter-spacing: -0.1px;
      margin-bottom: 1rem;
    }

    .footer-content h5 {
      color: #d7dde5;
      font-size: 18px;
      font-weight: bold;
    }

    .footer-content a {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      text-decoration: none;
      color: #bebebe;
    }

    .footer-content a:hover {
      color: #686157;
    }

    .email-link  {
      color: #686157 !important;
    }

    .email-link:hover {
      color: #eee !important;
    }

    .footer-content span {
      color: #fff;
      font-family: "Montserrat", Sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 2.1em;
      letter-spacing: 0.3px;
    }

    .email {
      background: transparent;
      border-color: #e0e0e0;
      border-width: 0 0 1px 0;
      border-radius: 3px;
      padding: 5px 14px;
      width: 100%;
      /* height: 40px; */
      min-height: 40px;

      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 1em;
      letter-spacing: -0.3px;
      color: #aab2b9;
    }

    .email[type="email"]:focus {
      outline: none;
    }

    #submit-btn {
      background-color: transparent;
      color: #fff;
      font-family: "Playfair Display", Sans-serif;
      font-size: 18px;
      font-weight: bold;
      line-height: 1em;
      border: 1px solid #fff;
      border-radius: 50px;
      padding: 14px 33px;
    }

    /* footer-final 結尾 */
    .left {
      color: #aab2b9;
      font-family: "Montserrat", Sans-serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 2.1em;
      letter-spacing: 0.2px;
    }

    .right i {
      cursor: pointer;
      color: #bebebe;
      font-size: 18px;
      width: 1em;
      height: 1em;
      display: block;
    }

    .right i:hover {
      color: #686157;
    }


@media (min-width: 576px) {
  #top {
    padding: 190px 0;
    height: 736px;
  }

  /* toTop 回開頭 */
  #toTop {
    display: none;
    position: fixed;
    bottom: 15px;
    z-index: 999;
    overflow: hidden;
    right: 20px;
    color: #686157;
    opacity: 0;
    transition: all .3s ease;
  }

  #toTop.show {
    opacity: 1;
  }
}

@media (min-width: 992px) {
  /* #top {
    padding: 231px 0 230px;
    height: 807px;
  } */

    #top {
      height: 100%;
    }

    /* article 文章 */
    .article-content > h2 {
      text-align: left;
      color: #333;
      font-size: 48px;
      line-height: 1.24em;
    }
    
    .article-content > p {
      /* width: 772px; */
      color: #6a7680;
      font-size: 14px;
      font-weight: 300;
      line-height: 2.2em;
      letter-spacing: -0.1px;
      text-align: left;
    }

    #article-info-bg {
      padding: 70px 0 90px 0;
    }

    /* main-info-box 資訊卡牌方塊 */
    #main-info-title {
      font-size: 48px;
    }

  /* article-info 文案介紹內容 */
    #info-title {
      text-align: center;
      font-size: 48px;
      letter-spacing: -0.1px;
      line-height: 1.2em;
    }

    .article-info-box:nth-child(5),
    .article-info-box:nth-child(6),
    .article-info-box:nth-child(7)
    {
      border-left: 1px solid #818a91;
    }
}

hr {
  line-height: 0;
  font-size: 0;
  width: 60px;
  border: 1.2px solid #000;
}

.hr-color:nth-child(1){
  border-color: #686157;
}

.long-hr {
  width: 100%;
  border-color: rgb(104, 97, 87);
}

.long-hr-2{
  border: 1px solid #454545 !important;
  width: 100%;
  /* border-color: #454545; */
}

/* .hr-color:nth-child(1) {

} */
